.img-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0px 10px;
}
h1{
  text-align: center;
  color: #4700b3;
}
h2{
  text-align: center;
  color: #4700b3;
}
.row{
  margin-top: 120px;
}
nav {
}
#help{
  /*position: absolute;*/
  float: right;
}
